.main-header {
    position: absolute;
    width: 100%;
}

#mapid { 
    height: 300px; 
}

.register-page {

     background-image: url("../images/background.png");

     height: 100%; 

     /* Center and scale the image nicely */

     background-position: center;

     background-repeat: no-repeat;

     background-size: cover;

}



.profile-img {

        cursor: pointer;

        height: 80px;

        margin: 0 auto;

        position: relative;

        width: 80px;

    }



    .profile-img .avatar {

        font-size: 24px;

        height: 80px;

        line-height: 80px;

        margin: 0;

        width: 80px;

    }



    .avatar {

        background-color: #aaa;

        border-radius: 50%;

        color: #fff;

        display: inline-block;

        font-weight: 500;

        height: 38px;

        line-height: 38px;

        margin: 0 10px 0 0;

        overflow: hidden;

        text-align: center;

        text-decoration: none;

        text-transform: uppercase;

        vertical-align: middle;

        width: 38px;

        position: relative;

        white-space: nowrap;

    }



    .login-logo > a {

        color: #fff;

    }



        /*S H E R W I N CSS*/

    .photoimages {

            max-height:350px;
            max-width:350px;
            margin: 0 auto;
    }    